<div class="edit">
  <form [formGroup]="form" *ngIf="form && recipe$ | async as recipe">
    <div class="edit__top">
      <div class="edit__top__left">
        <mat-form-field appearance="outline" class="connection-status-filters__item">
          <mat-label>Title</mat-label>
          <input matInput [formControlName]="FORM_CONTROL_NAMES.Title">
          <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="connection-status-filters__item">
          <mat-label>Description</mat-label>
          <input matInput [formControlName]="FORM_CONTROL_NAMES.Description">
          <mat-error></mat-error>
        </mat-form-field>
        <h3>Additional Images</h3>
        <div class="edit__section--actions">
          <div class="edit__section__fields">
            <mat-form-field appearance="outline">
              <mat-label>Additional Image URL</mat-label>
              <input matInput [formControlName]="FORM_CONTROL_NAMES.NextAdditionalImageUrl">
              <mat-error></mat-error>
            </mat-form-field>
          </div>
          <div class="edit__section__actions">
            <button mat-stroked-button color="primary" (click)="onClickAddAdditionalImage()">Add
              Image</button>
          </div>
        </div>
        <div class="edit__additional-images">
          <div class="edit__additional-images__item" *ngFor="let imageUrl of additionalImageUrls; let i = index;">
            <img class="edit__additional-images__image" [src]="imageUrl">
            <button mat-icon-button (click)="onClickDeleteAdditionalImage(i)">
              <mat-icon mat-icon-button color="warn" matTooltip="Delete image" matTooltipPosition="right">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="edit__top__right" (click)="onClickCoverImage()">
        <img [src]="displayedCoverImageUrl">
      </div>
    </div>

    <mat-divider></mat-divider>
    <h3>Ingredients</h3>
    <div class="edit__section--actions" [formGroup]="nextIngredientFormGroup">
      <div class="edit__section__fields">
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input matInput [formControlName]="INGREDIENT_SUB_FORM_CONTROL_NAMES.Quantity">
          <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Units</mat-label>
          <input matInput [formControlName]="INGREDIENT_SUB_FORM_CONTROL_NAMES.Units">
          <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ingredient Name</mat-label>
          <input matInput [formControlName]="INGREDIENT_SUB_FORM_CONTROL_NAMES.Name">
          <mat-error></mat-error>
        </mat-form-field>
      </div>
      <div class="edit__section__actions"><button mat-stroked-button color="primary" (click)="onClickAddIngredient()">Add
          Ingredient</button></div>
    </div>
    <app-ingredients-list [ingredients]="ingredients" [canDelete]="true" (delete)="onDeleteIngredient($event)">
    </app-ingredients-list>

    <mat-divider></mat-divider>
    <h3>Steps</h3>
    <div class="edit__section--actions">
      <div class="edit__section__fields">
        <mat-form-field appearance="outline">
          <mat-label>New Step</mat-label>
          <input matInput [formControlName]="FORM_CONTROL_NAMES.NextStep">
          <mat-error></mat-error>
        </mat-form-field>
      </div>
      <div class="edit__section__actions">
        <button mat-stroked-button color="primary" (click)="onClickAddStep()">Add Step</button>
      </div>
    </div>
    <app-step *ngFor="let step of steps; let i = index" [step]="step" [stepIndex]="i" [canDelete]="true"
      (delete)="onDeleteStep($event)"></app-step>

    <mat-divider></mat-divider>

  </form>
  <div class="edit__actions">
    <button mat-raised-button color="primary" (click)="onClickSave()">Save</button>
  </div>
</div>
