<div  class="ingredient-list" cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="ingredient-list__box" *ngFor="let ingredient of ingredients; let i = index;" cdkDrag>
    <div class="ingredient-list__box__placeholder" *cdkDragPlaceholder></div>
    {{ ingredient.quantity }} {{ ingredient.units }} of {{ ingredient.name }}
    <button mat-icon-button (click)="onClickDelete(i)" *ngIf="canDelete">
      <mat-icon mat-icon-button color="warn" matTooltip="Delete ingredient" matTooltipPosition="right" >delete</mat-icon>
    </button>
  </div>
</div>
